.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.text{
    stroke: #000;
    stroke-width: 0.25mm;
    fill: #000;
    stroke-linecap: round; 
    fill-rule: evenodd; 
    font-size:9pt;
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}
